#navbar {
    background-color: #2d2d2d;
}

#navbar-expanded {
    background-color: #2d2d2d;
}

body {
    background-color: #2d2d2d;
}

p, button, summary, summary::after {
    color: #ffffff;
}

.navbarIcon {
    color: #f0f0f0;
}