#navbar {
    background-color: #2d2d2d;
}

#navbar-expanded {
    background-color: #2d2d2d;
    border-right: 2px solid #f0f0f0;
    border-left: none;
}

.navbarIcon, .navlink {
    color: #f0f0f0;
}

body {
    background-color: #2d2d2d;
}

p, button, summary, summary::after {
    color: #ffffff;
}

h2 {
    color: #6060f0;
}

details[open] > summary {
    background-color: #6060ff;
}