#navbar {
    background-color: #fcfcfc;
}

#navbar-expanded {
    background-color: #fcfcfc;
}

body {
    background-color: #fcfcfc;
}

p, button, summary, summary::after {
    color: #000000;
}

.navbarIcon {
    color: #2d2d2d;
}