#navbar {
    background-color: #fcfcfc;
}

#navbar-expanded {
    background-color: #fcfcfc;
    border-right: 2px solid #2d2d2d;
    border-left: none;
}

.navbarIcon, .navlink {
    color: #2d2d2d;
}

body {
    background-color: #fcfcfc;
}

p, button, summary, summary::after {
    color: #000000;
}

h2 {
    color: #3030f0;
}

details[open] > summary {
    background-color: #b0b0ff;
}